* {
  margin: 0;
  font-family: "Noto Sans SC", sans-serif;
  font-size: 13px;
  letter-spacing: 3px;
  box-sizing: border-box;
  text-align: center;
}
.wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
}

.logo {
  display: inline;
  color: white;
  text-align: left;
  font-size: 25px;
}
.page_header {
  position: relative;
  padding: 20px;
  height: 650px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/image-asset.jpeg) center no-repeat;
  background-size: cover;
}
.page_header_line {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
#Foundation {
  letter-spacing: 5px;
  margin-top: -5px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
#about,
a,
button {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 600;
  line-height: 1em;
  margin: 10px 20px;
  background: transparent;
}
button {
  border-radius: 300px;
  padding: 13px 18px;
}
.dropdown,
#about {
  display: inline;
}

#Sustainibility {
  font-family: garamond;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: none;
  line-height: 1.5em;
  color: #fff;
}
#head {
  font-weight: 700;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 68px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 30px;
}
.green_bud {
  border-radius: 300px;
  padding: 13px 30px;
  background: #36b3a8;
}
.hz {
  text-align: center;
  white-space: pre-wrap;
  font-family: garamond;
  font-weight: 600;
  color: rgba(26, 26, 26, 0.7);
  /* margin: 1em 0 0.5em; */
}
.hz p {
  white-space: nowrap;
}
.hz a {
  color: #36b3a8;
  text-transform: none;
  margin: 0;
}
.photo_links {
  display: flex;
  justify-content: center;
  text-align: center;
  white-space: pre-wrap;
}
.photo_links img {
  margin: 15px;
  width: 100%;
  max-width: 450px;
  height: auto;
}
.he {
  text-transform: uppercase;
  color: #bdbdbd;
  font-size: 15px;
  font-weight: 600;
  margin: 5px 20px;
  background: transparent;
}
.txt {
  font-size: 15px;
  width: 500px;
  margin-top: -40px;
}
.footer {
  height: 70vh;
  background: #1f1f1f;
  text-align: center;
}
.sign_in {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 320px;
  background: #f7f7f7;
  color: black;
  margin: 0;
  padding: 60px 0;
}
.sign_in #mail {
  width: 250px;
}
#sub {
  font-size: 30px;
  margin-bottom: 20px;
}
.sign_in input {
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin: 10px 5px;
  padding: 17px 5px 17px 20px;
}
.sign_in #mail {
  font-family: Arial, Helvetica, sans-serif;
  color: #bdbdbd;
}
.sign_in .sup {
  text-transform: uppercase;
  color: #fff;
  background: #1f1f1f;
  padding: 15px 30px;
}
.address {
  display: inline;
}
#temp {
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8);
}

.footer .foot_end {
  padding: 60px;
  padding-bottom: 30px;
  color: rgba(255, 255, 255, 0.8);
}
.lowest {
  margin-top: 40px;
  color: rgba(255, 255, 255, 0.4);
}
#power {
  display: inline;
  letter-spacing: 0px;
}
.lowest #Squarespace {
  padding: 0;
  margin: 0;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.4);
  display: inline - block;
  text-transform: capitalize;
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
#check {
  display: none;
}
.checkBtn {
  display: none;
  font-size: 40px;
  color: #ffffff;
}

.centered_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.flexer {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 830px) {
  /* .page_header {
    background-size: 100% 100%;
  } */
  .checkBtn {
    display: inline-block;
  }
  .page_header_line ul {
    display: none;
  }
  .photo_links {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .flexer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sign_in .sup {
    width: 150px;
  }
}
